.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #1e293b;
  color: white;
  width: 98%;
  border-radius: 10px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background-color: #dc2626;
}